.main-body {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2%;

    p {
        width: 50%;
        font-size: 20px;
        text-align: left;

        @media @miniMobile {
            width: 95%;
            font-size: 15px;
        }

        @media @mobile {
            width: 95%;
        }


    }

    
}

